.header {
  position: fixed;
  top: 0;
  height: 60px;
  @extend .w-100;
  z-index: 9;

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity .2s;
  }

  &:before {
    background: linear-gradient(180deg, $bg-color 0, hsla(0, 0%, 100%, 0));
  }

  &:after {
    filter: blur(1px);
    backdrop-filter: blur(1px);
    height: 80%;
  }

  &.active {
    opacity: 1;
  }
}

.header-inner {
  @extend .flex;
  @extend .justify-between;
  @extend .align-center;
  @extend .w-100;
  @extend .h-100;
}

.header-block {
  display: inline-flex;
  @extend .align-center;
}

.logo {
  @extend .h-100;
  padding: 6px 0;

  img {
    max-height: 100%;
    width: auto
  }
}